[submodule "deps/node-amqp"]
	path = deps/node-amqp
	url = git@git.joyent.com:node-amqp-joyent.git
[submodule "deps/node-libdtrace"]
	path = deps/node-libdtrace
	url = git://github.com/bcantrill/node-libdtrace.git
[submodule "deps/node-kstat"]
	path = deps/node-kstat
	url = git://github.com/bcantrill/node-kstat.git
[submodule "deps/node"]
	path = deps/node
	url = git://github.com/joyent/node.git
[submodule "deps/node-png"]
	path = deps/node-png
	url = git@git.joyent.com:node-png-joyent.git
[submodule "deps/node-heatmap"]
	path = deps/node-heatmap
	url = git@git.joyent.com:node-heatmap.git
[submodule "deps/connect"]
	path = deps/connect
	url = git://github.com/senchalabs/connect.git
[submodule "deps/node-uname"]
	path = deps/node-uname
	url = git://github.com/davepacheco/node-uname.git
[submodule "deps/node-libGeoIP"]
	path = deps/node-libGeoIP
	url = git://github.com/bcantrill/node-libGeoIP.git
[submodule "deps/restdown"]
	path = deps/restdown
	url = git://github.com/trentm/restdown.git
