body {
	font-family: sans-serif;
	margin: 50px;
	font-size: x-small;
}

.gGraphContainer {
	margin-top: 15px;
}

td.GraphLegend {
	padding-left: 10px;
}

tr {
	vertical-align: top;
}

.gToolbar {
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	width: 810px;
	height: auto;
	overflow: auto;
	margin-bottom: 10px;
}

.gToolbar > * {
	float: left;
	padding-right: 4px;
}

.gToolbar > p {
	color: #666666;
	font-size: 1.4em;
	float: right;
}

.gNumeric > p {
	width: 500px;
	margin: 5px;
	margin-top: 7px;
}

.gDiscrete > p {
	width: 650px;
	margin: 5px;
	margin-top: 7px;
}
