body {
	font-family: sans-serif;
	margin: 50px;
	font-size: x-small;
}

.gGraphContainer {
	margin-top: 15px;
}

td.GraphLegend {
	padding-left: 10px;
}

tr {
	vertical-align: top;
}

.gToolbar {
	padding-bottom: 14px;
	padding-left: 4px;
	padding-right: 4px;
	width: 810px;
	height: 15px;
	margin-bottom: 10px;
}

.gToolbar > * {
	float: left;
	padding-right: 4px;
}

.gToolbar > h3 {
	padding-left: 10px;
	color: #666666;
}
